.carousel-show {
    max-height: 80vh;
}

#legend{
    opacity: 1;
    background-color:transparent;
    position: absolute;
    bottom: 3.5rem;
    left: 2rem;
    width: fit-content;
    margin-left: 0;
    font-size: inherit;
}

.legend .button.btn-solid.button-primary {
    position: absolute;
    bottom: 0;
    background-color: var(--video-cta-color);
}

.legend .button.btn-solid.button-primary:hover {
    background-color: var(--video-secondary-color);
}